<ion-app>
<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
      <img src="{{item.posterUrl}}" />
      <ion-card-header>
        <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
        <ion-card-title>{{item.runtime}} min</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Année: {{item.year}}</p>
        <p>Genre: {{item.genres}}</p>
        <p>Director: {{item.director}}</p>
        <p>Acteurs: {{item.actors}}</p>
        <p>Synopsis: {{item.plot}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>




